@import '../../style/lib/vars.scss';

#landing {
  width: 100%;
  height: 100vh;
  float: left;
  position: relative;
  background: url('../../assets/thailand.jpg');
  background-size: cover;

  div {
    position: absolute;
    float: left;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
  }

  section {
    position: absolute;
    width: 40%;
    height: 50vh;
    float: left;
    margin-left: 30%;
    margin-top: 30vh;
    z-index: 99999;

    h1 {
      width: 100%;
      font-size: 10vh;
      text-align: center;
      font-family: $font;
      color: $white;
      font-weight: lighter;
    }

    h2 {
      width: 90%;
      font-size: 6vh;
      margin: 2vh 5%;
      text-align: center;
      font-family: $font;
      font-weight: bold;
      color: $white;

    }

    div{
      float: left;
      width: 50%;
      height: 0.5vh;
      background: $white;
      border-radius: 10px;
      margin: 1vh 0;
      margin-left: 25%;
    }
    p {
      float: left;
      width: 100%;
      text-align: center;
      color: $white;
      font-size: 8vh;
      margin-top: 3vh;
      cursor: pointer;
    }
  }

  a {
    position: absolute;
    right: 0;
    color: $white;
    width: 8vw;
    height: 3vh;
    margin: 1vh 1vw;
    background: none;
    border: none;
    font-size: 5vw;
    transition: $transition all;
    z-index: 99999;

    &:hover {
      font-size: 5.5vw;
      cursor: pointer;
    }
  }
}

@media (max-width:1050px) and (min-width: 431px) {
  #landing {
    section>h1 {
      font-size: 4.5vh;

    }

    section>h2 {
      font-size: 3vh;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    a {
      bottom: 20%;
      left: 47vw;
      margin: 0;

    }
  }
}

@media (max-width:430px) {
  #landing {
    section>h1 {
      font-size: 3.5vh;
      width: 100%;
    }

    section>h2 {
      font-size: 2vh;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    a {
      font-size: 15vw;
      bottom: 20%;
      left: 45vw;
      margin: 0;
    }
  }
}
