@import '../../style/lib/vars.scss';


#skills {
  background: $black;
  width: 100%;
  height: 100vh;


  &>section {
    float: left;
    width: 100%;
    height: 100vh;

    &>p {
      width: 90%;
      float: left;
      height: 7vh;
      font-size: 7vh;
      color: $primary;
      font-family: $font2;
      margin: 2vh 5%;
    }

    section {
      float: left;
      height: 80vh;
      padding: 3.5vh 0;
      width: 65%;
      margin-left: 5%;
      background: $secondary;
      border-radius: 5px;

      &>div:first-of-type {
        width: 90%;
        height: 1vh;
        float: left;
        background: $primary;
        border-radius: 20px;
        margin: 1vh 5%;


      }

      p:first-child {
        width: 100%;
        height: 5vh;
        font-size: 5vh;
        font-family: $font;
        color: $black;
        text-align: center;;
        font-weight: bold;
      }

      div:last-child {
        width: 90%;
        margin: 2vh 5%;
        height: 70vh;
        overflow-y: scroll;
        text-align: center;
        float: left;
        line-height: 3.5vh;
        font-weight: bold;
        p {
          font-size: 3vh;
          font-family: $font;
          color: $black;
          width: 100%;
          height: auto;
          text-align: center;
          float: left;
          line-height: 3.5vh;
          font-weight: bold;
          margin: 0;
        }
        pre {
          float: left;
          margin: 0;
          padding: 0;
        }
        pre, code {

          width: 100%;
          overflow-x: auto;
          font-size: 1vw;
          border: none;
        }
      }
    }

    ul {
      width: 25%;
      height: 85vh;
      background: $primary;
      float: right;
      margin-right: 1%;
      border-radius: 5px;
      opacity: 1;
      transition: 350ms all;
      padding: 1vh 0;

      li {
        float: left;
        width: 100%;
        height: 21.5vh;


        &>div {
          width: 90%;
          height: 10vh;
          margin: 1vh 5%;
          float: left;
          background: $black;
          border-radius: 5px;
          left: 0;
          cursor: pointer;
        }
        &>div>p {
          width: 100%;
          height: 5vh;
          margin-top: 3vh;
          font-size: 3.5vh;
          text-align: center;
          font-family: $font2;
          color: $primary;
        }
      }
    }
    .list-hidden {
      opacity: 0;
    }
  }
}

@media (max-width: 840px) and (min-width: 561px) {
  #skills {
    &>section {
      p:first-child {
        font-size: 4vw;
      }
      div:last-child>p {
        font-size: 5vh;
      }
    }
    ul>li {

      p {
        font-size: 2.5vw !important;
      }
    }
  }
}

@media (max-width: 560px){
  #skills {

    &>section {
      width: 100%;
      background: $black;

      &>p:first-child {
        font-size: 7vw !important;
        width: 95%;
        margin-left: 5%;
      }

      section {
        width: 100%;
        height: 45vh;
        margin: 0;
        overflow-y: scroll;
        div:last-child>p {
          font-size: 2vh !important;
        }
      }
      ul{
        width: 100%;
        height: 30vh;
        margin: 0;
        margin-top: 2vh;
        li {
          float: left;
          height: 9vh;
          display: inline-block;
          width: 40%;
          margin-left: 6.66%;
          margin-top: 2vh;

          p {
            font-size: 4vw !important;
          }

        }

      }
    }
  }
}
