@import '../../style/lib/vars.scss';

#navbar {
  width: 100%;
  height: 6.5vh;
  background: $black;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  &>div:first-of-type {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 1vh;
    background: $primary;
  }
  ul {
    width: 100%;
    height: 5.5vh;
    float: left;
    transition: 350ms all;
    * {
      transition: 350ms all;
    }
    li {
      display: inline-block;
      float: left;
      width: 20%;
      height: 5.5vh;
      a {
        float: left;
        width: 100%;
        height: 3.5vh;
        padding: 1.5vh 0;
        text-align: center;
        font-family: $font;
        color: $primary;
        cursor: pointer;
      }
      &:hover {
        background: $primary;
        a {
          color: $black;
        }
      }
    }
  }

  &>div:last-of-type {
    display: none;
    width: 10vw;
    height: 10vw;
    background: $black;
    position: fixed;
    padding: 1vw;
    right: 0;
    border-radius: 5px;
    &>div {

      width: 80%;
      height: 1vw;
      background: $primary;
      border-radius: 50px;
      position: absolute;
      left: 10%;
      transition: 350ms all ease-in-out;
    }
    #first {
    margin-top: 1.75vw;

    }
    #second {
      margin-top: 4.5vw;
    }
    #third {
      margin-top: 7.25vw;
    }
  }
}

div.open-menu {
  width: 6vw;
  height: 6vw;
  position: fixed;
  padding: 1vw;
  right: 0;
  &>div {
    width: 100%;
    height: 0.5vw;
    background: $primary;
    border-radius: 50px;
    position: absolute;
    transition: 350ms all ease-in-out;
  }
  #first {
    margin-top: 4.5vw !important;
    transform: rotate(45deg);
    transition: 350ms all ease-in-out;
  }
  #second {
    margin-top: 4.5vw !important;
    transform: rotate(45deg);
    transition: 350ms all ease-in-out;
  }
  #third {
    margin-top: 4.5vw !important;
    transform: rotate(-45deg);
    transition: 350ms all ease-in-out;
  }
}

@media (max-width: 560px) {
  #navbar {
    background: none;
    &>div:first-of-type {
      display: none;
    }
    &>div:last-of-type {
      display: block;
      margin-right: 5%;
      margin-top: 3vw

    }
    ul {
      width: 0;
      margin-top: 14vw;
      margin-left: 95%;
      li {
        height: 0;
        display: inline;
        width: 100%;
        background: $black;
        border-bottom: 1vh solid $primary;
        a {
          display: none;
        }
      }
    }
    ul.open-menu {
      width: 90%;
      margin-left: 5%;
      li {
        height: 8vh;
        a {
          display: block;
          padding: 2vh 0;
        }
      }
    }
  }
}
