@import '../../style/lib/vars.scss';

#skills2 {
  width: 100%;
  height: 100vh;
  float: left;
  background: $black;

  .hidden {
    opacity: 0;
    transition: 350ms all;

    div {
      float: left;
      width: 2%;
      opacity: 0;
      margin-left: 48%;
      height: 0.5vh;
    }
  }
  .hidden-div {
    width: 2%;
    opacity: 0;
    margin-left: 48%;
  }

  h5 {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 3vw;
    font-family: $font;
    color: $primary;
    margin-top: 4vh;
    font-weight: bold;
  }
  &>div {
    float: left;
    width: 50%;
    height: 1vh;
    background: $secondary;
    border-radius: 20px;
    margin: 1vh 25%;
    transition: 1000ms all;
  }

  &>ul {
    width: 100%;
    height: 90vh;
  }

  &>ul>li {
    float: left;
    display: inline-block;
    width: 35%;
    margin-top: 5vh;
    margin-left: 10%;
    height: 30vh;
    opacity: 1;
    transition: 350ms all;
    &>p {
      float: left;
      width: 100%;
      text-align: center;
      font-size: 2vw;
      font-weight: bold;
      font-family: $font;
      color: $primary;
    }
    &>div {
      float: left;
      width: 50%;
      height: 0.5vh;
      background: $secondary;
      border-radius: 20px;
      margin: 1vh 25%;
      opacity: 1;
      transition: 1000ms all;
      transition-delay: 1000ms;
    }

    ul{
      width: 100%;
      li{
        width: 100%;
        float: left;
        text-align: center;
        font-size: 1.5vw;
        font-family: $font;
        color: $primary;
        margin-top: 1vh;
      }
    }
  }
}

@media (max-width: 560px) {
  #skills2 {
    height: 150vh;
    h5 {
      font-size: 4vw;
    }
    &>div {
      height: 0.5vh;
    }
    &>ul {
      height: 130vh;

    }
    &>ul>li {
      display: inline;
      width: 60%;
      margin-left: 20%;
      height: 25vh;

      p {
        font-size: 3.5vw;
      }

      ul>li {
        font-size: 3vw;
      }
    }
  }
}
