@import '../../style/lib/vars.scss';

#footer {
  float: left;
}
#foot {
  width: 100%;
  height: 40vh;
  background: $black;
  border-top: 0.5vh solid $secondary;
  float: left;

  h5 {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 3vw;
    color: $primary;
    margin-top: 2vh;
    font-family: $font;

  }
  &>div {
    width: 50%;
    height: 0.25vh;
    background: $primary;
    float: left;
    margin: 2vh 25%;


  }

  ul {
    width: 50vw;
    height: 7vw;
    float: left;
    margin-left: 25%;
    margin-top: 7vh;

    li {
      display: inline-block;
      width: 5vw;
      height: 5vw;
      margin-left: 5.5vw;
      border-radius: 80px;
      border: 0.5vw solid $primary;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        animation-name: borderpulse;
        animation-duration: 1s;
        animation-iteration-count: infinite;

        * {
          animation: fillpulse;
          animation-duration: 1s;
          animation-iteration-count: infinite;
        }
      }
      a {
        float: left;
        width: 5vw;
        height: 5vh;

      }
      svg {
        height: 4vw;
        width: 5vw;
        float: left;
        margin-top: 1vw;
        * {
          fill: #EBB956;
          float: left;
        }
      }
    }
    &>:nth-child(2) {
      svg {
        margin-left: 1vw;
        margin-top:  1vw;
        height: 3vw;
        width: 3vw;
        * {
          height: 3vw;
          width: 3vw;
        }
      }
    }
    &>:nth-child(4) {
      svg {
        margin-left: 1vw;
        margin-top:  1vw;
        height: 3vw;
        width: 3vw;
        * {
          height: 3vw;
          width: 3vw;
        }
      }
    }
  }

}

@media (max-width: 568px) and (min-width: 541px){
  #foot {
    height: 40vh;
    ul {
      margin-top: 3vh;
    }
  }
}

@media (max-width: 540px) {
  #foot {
    height: 20vh;
    ul {
      margin-top: 3vh;
    }
  }
}

@keyframes borderpulse {
  0% {
    border: 0.5vw solid $primary;
  }

  50% {
    border: 0.5vw solid $secondary;
  }

  100% {
    border: 0.5vw solid $primary;
  }
}

@keyframes fillpulse{
  %0 {
    fill: $primary;
  }

  50% {
    fill: $secondary;
  }

  100% {
    fill: $primary;
  }
}
