#content {
  float: left;
  width: 100%;
  height: auto;
  background: #eae9e8;
  position: relative; }
#navbar {
  width: 100%;
  height: 6.5vh;
  background: #303b42;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0; }
  #navbar > div:first-of-type {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 1vh;
    background: #EBB956; }
  #navbar ul {
    width: 100%;
    height: 5.5vh;
    float: left;
    transition: 350ms all; }
    #navbar ul * {
      transition: 350ms all; }
    #navbar ul li {
      display: inline-block;
      float: left;
      width: 20%;
      height: 5.5vh; }
      #navbar ul li a {
        float: left;
        width: 100%;
        height: 3.5vh;
        padding: 1.5vh 0;
        text-align: center;
        font-family: "Roboto", sans-serif;
        color: #EBB956;
        cursor: pointer; }
      #navbar ul li:hover {
        background: #EBB956; }
        #navbar ul li:hover a {
          color: #303b42; }
  #navbar > div:last-of-type {
    display: none;
    width: 10vw;
    height: 10vw;
    background: #303b42;
    position: fixed;
    padding: 1vw;
    right: 0;
    border-radius: 5px; }
    #navbar > div:last-of-type > div {
      width: 80%;
      height: 1vw;
      background: #EBB956;
      border-radius: 50px;
      position: absolute;
      left: 10%;
      transition: 350ms all ease-in-out; }
    #navbar > div:last-of-type #first {
      margin-top: 1.75vw; }
    #navbar > div:last-of-type #second {
      margin-top: 4.5vw; }
    #navbar > div:last-of-type #third {
      margin-top: 7.25vw; }

div.open-menu {
  width: 6vw;
  height: 6vw;
  position: fixed;
  padding: 1vw;
  right: 0; }
  div.open-menu > div {
    width: 100%;
    height: 0.5vw;
    background: #EBB956;
    border-radius: 50px;
    position: absolute;
    transition: 350ms all ease-in-out; }
  div.open-menu #first {
    margin-top: 4.5vw !important;
    transform: rotate(45deg);
    transition: 350ms all ease-in-out; }
  div.open-menu #second {
    margin-top: 4.5vw !important;
    transform: rotate(45deg);
    transition: 350ms all ease-in-out; }
  div.open-menu #third {
    margin-top: 4.5vw !important;
    transform: rotate(-45deg);
    transition: 350ms all ease-in-out; }

@media (max-width: 736px) {
  #navbar {
    height: 10vh; }
    #navbar ul {
      height: 10vh; }
      #navbar ul li {
        height: 10vh; }
        #navbar ul li a {
          padding: 3vh 0; } }

@media (max-width: 560px) {
  #navbar {
    background: none; }
    #navbar > div:first-of-type {
      display: none; }
    #navbar > div:last-of-type {
      display: block;
      margin-right: 5%;
      margin-top: 3vw; }
    #navbar ul {
      width: 0;
      margin-top: 14vw;
      margin-left: 95%; }
      #navbar ul li {
        height: 0;
        display: inline;
        width: 100%;
        background: #303b42;
        border-bottom: 1vh solid #EBB956; }
        #navbar ul li a {
          display: none; }
    #navbar ul.open-menu {
      width: 90%;
      margin-left: 5%; }
      #navbar ul.open-menu li {
        height: 8vh; }
        #navbar ul.open-menu li a {
          display: block;
          padding: 2vh 0; } }
#about {
  width: 100%;
  height: 100vh;
  background: #f4e6e3; }
  #about .me {
    float: left;
    width: 30vw;
    height: 30vw;
    background: #f4e6e3;
    border: 0.5vw solid #303b42;
    border-radius: 200px;
    margin-left: 15%;
    margin-top: 10vh; }
    #about .me div {
      float: left;
      margin: 0.5vw 0.5vw;
      width: 28vw;
      height: 28vw;
      background: url(image/me.jpg);
      background-size: 28vw;
      border-radius: 200px;
      border: 0.5vw solid #303b42; }
  #about > section {
    float: left;
    width: 50%;
    height: 100vh;
    background: #f4e6e3; }
    #about > section h4 {
      float: left;
      font-family: "Roboto", sans-serif;
      color: #303b42;
      font-weight: bold;
      height: 5vh;
      width: 100%;
      margin: 2vh 0;
      text-align: center;
      font-size: 3vh; }
    #about > section p {
      float: left;
      width: 90%;
      margin: 0 5%;
      font-size: 2.5vh;
      text-align: center;
      font-family: "Roboto", sans-serif;
      line-height: 4vh; }
  #about > div {
    width: 50%;
    height: 100vh;
    float: right;
    overflow: hidden; }
    #about > div > :nth-child(1) {
      float: right;
      width: 80%;
      height: 12.5vh;
      position: relative;
      margin-top: 2vh;
      transition-delay: 0ms;
      animation-delay: 0ms;
      transition: 350ms all; }
      #about > div > :nth-child(1):first-child {
        margin-top: 15vh; }
      #about > div > :nth-child(1) div {
        height: 10vh;
        position: absolute;
        width: 100%;
        background: #EBB956;
        box-shadow: 2.5vh -2.5vh #AB873F;
        transform: skewx(-10deg);
        transform-origin: 100%;
        transition: 500ms all;
        transition-delay: 0ms; }
      #about > div > :nth-child(1) div > p {
        width: 90%;
        font-size: 2.5vw;
        font-family: "Black Ops One", cursive;
        color: #303b42;
        float: left;
        height: 5vh;
        margin: 2.5vh 5%;
        font-weight: bold; }
    #about > div > :nth-child(2) {
      float: right;
      width: 80%;
      height: 12.5vh;
      position: relative;
      margin-top: 2vh;
      transition-delay: 250ms;
      animation-delay: 250ms;
      transition: 350ms all; }
      #about > div > :nth-child(2):first-child {
        margin-top: 15vh; }
      #about > div > :nth-child(2) div {
        height: 10vh;
        position: absolute;
        width: 100%;
        background: #EBB956;
        box-shadow: 2.5vh -2.5vh #AB873F;
        transform: skewx(-10deg);
        transform-origin: 100%;
        transition: 500ms all;
        transition-delay: 250ms; }
      #about > div > :nth-child(2) div > p {
        width: 90%;
        font-size: 2.5vw;
        font-family: "Black Ops One", cursive;
        color: #303b42;
        float: left;
        height: 5vh;
        margin: 2.5vh 5%;
        font-weight: bold; }
    #about > div > :nth-child(3) {
      float: right;
      width: 80%;
      height: 12.5vh;
      position: relative;
      margin-top: 2vh;
      transition-delay: 500ms;
      animation-delay: 500ms;
      transition: 350ms all; }
      #about > div > :nth-child(3):first-child {
        margin-top: 15vh; }
      #about > div > :nth-child(3) div {
        height: 10vh;
        position: absolute;
        width: 100%;
        background: #EBB956;
        box-shadow: 2.5vh -2.5vh #AB873F;
        transform: skewx(-10deg);
        transform-origin: 100%;
        transition: 500ms all;
        transition-delay: 500ms; }
      #about > div > :nth-child(3) div > p {
        width: 90%;
        font-size: 2.5vw;
        font-family: "Black Ops One", cursive;
        color: #303b42;
        float: left;
        height: 5vh;
        margin: 2.5vh 5%;
        font-weight: bold; }
    #about > div > :nth-child(4) {
      float: right;
      width: 80%;
      height: 12.5vh;
      position: relative;
      margin-top: 2vh;
      transition-delay: 750ms;
      animation-delay: 750ms;
      transition: 350ms all; }
      #about > div > :nth-child(4):first-child {
        margin-top: 15vh; }
      #about > div > :nth-child(4) div {
        height: 10vh;
        position: absolute;
        width: 100%;
        background: #EBB956;
        box-shadow: 2.5vh -2.5vh #AB873F;
        transform: skewx(-10deg);
        transform-origin: 100%;
        transition: 500ms all;
        transition-delay: 750ms; }
      #about > div > :nth-child(4) div > p {
        width: 90%;
        font-size: 2.5vw;
        font-family: "Black Ops One", cursive;
        color: #303b42;
        float: left;
        height: 5vh;
        margin: 2.5vh 5%;
        font-weight: bold; }
    #about > div > :nth-child(5) {
      float: right;
      width: 80%;
      height: 12.5vh;
      position: relative;
      margin-top: 2vh;
      transition-delay: 1000ms;
      animation-delay: 1000ms;
      transition: 350ms all; }
      #about > div > :nth-child(5):first-child {
        margin-top: 15vh; }
      #about > div > :nth-child(5) div {
        height: 10vh;
        position: absolute;
        width: 100%;
        background: #EBB956;
        box-shadow: 2.5vh -2.5vh #AB873F;
        transform: skewx(-10deg);
        transform-origin: 100%;
        transition: 500ms all;
        transition-delay: 1000ms; }
      #about > div > :nth-child(5) div > p {
        width: 90%;
        font-size: 2.5vw;
        font-family: "Black Ops One", cursive;
        color: #303b42;
        float: left;
        height: 5vh;
        margin: 2.5vh 5%;
        font-weight: bold; }
    #about > div .hidden {
      opacity: 0; }
      #about > div .hidden * {
        opacity: 0; }

@media (max-width: 780px) {
  #about {
    height: 100vh; }
    #about > div > div p {
      font-size: 2.5vw !important; }
    #about section .me {
      width: 25vw;
      height: 25vw;
      margin: 0 10vw;
      margin-top: 10vh;
      border: 1vw solid black; }
      #about section .me div {
        width: 22vw;
        height: 22vw;
        background-size: 22vw;
        border: 1vw solid #303b42; }
    #about section p {
      line-height: 4vh;
      font-weight: bold; } }

@media (max-width: 500px) {
  #about {
    height: 200vh; }
    #about > section, #about > div {
      width: 100%; }
    #about > div > div p {
      font-size: 5vw !important; }
    #about section .me {
      width: 50vw;
      height: 50vw;
      margin: 5vh 24vw;
      border: 1vw solid black; }
      #about section .me div {
        width: 47vw;
        height: 47vw;
        background-size: 48vw;
        border: 1vw solid #303b42; }
    #about section p {
      font-size: 4vw;
      line-height: 4vh;
      font-weight: bold; } }
#projects {
  width: 100%;
  height: 100vh;
  float: left;
  background: #f4e6e3;
  padding-top: 8vh;
  overflow: hidden; }
  #projects h5 {
    float: left;
    width: 95%;
    font-size: 3vw;
    font-family: "Roboto", sans-serif;
    color: #303b42;
    text-align: left;
    margin-left: 5%;
    margin-top: 4vh; }
  #projects section {
    float: left;
    position: relative;
    width: 100%;
    height: 92vh; }
    #projects section > div {
      overflow: hidden;
      position: absolute;
      left: 0;
      width: 75%;
      height: 80vh;
      margin-top: 2vh;
      margin-left: 5%;
      background: #303b42;
      color: #EBB956;
      cursor: pointer;
      border-radius: 5px;
      transition: margin-top .5s linear 0s, left .5s linear 1.050s, width 350ms linear 1.850s, height 350ms linear 2300ms; }
      #projects section > div > p {
        float: left;
        width: 100%;
        text-align: center;
        font-size: 3vw;
        font-family: "Roboto", sans-serif;
        transition: font-size 350ms linear 1850ms;
        height: 3vh;
        margin-top: 3.5vh; }
      #projects section > div > div {
        opacity: 1;
        transition: opacity 350ms linear 2750ms;
        width: 90%;
        margin-left: 5%;
        margin-top: 2vh;
        float: left;
        overflow-x: scroll;
        height: 70vh; }
        #projects section > div > div iframe {
          width: 100%;
          float: left;
          height: 100vh; }
        #projects section > div > div > p {
          width: 80%;
          margin-left: 10%;
          float: left;
          font-size: 1.5vw;
          font-family: "Roboto", sans-serif;
          margin-top: 2vh;
          text-align: center;
          line-height: 3.5vh; }
        #projects section > div > div pre {
          margin-top: 2vh;
          float: left;
          width: 95%;
          padding: 2vh 2.5%; }
          #projects section > div > div pre * {
            font-size: 1.25vw; }
    #projects section .hidden:nth-child(1) {
      margin-top: 13vh;
      height: 10vh;
      left: 77.5%;
      width: 15%;
      overflow: hidden;
      transition: height 350ms linear 350ms, width 350ms linear 700ms, margin-top .5s linear 1050ms, left .5s linear 1550ms; }
      #projects section .hidden:nth-child(1) > :hover {
        animation-name: divpulse;
        animation-duration: 1s;
        animation-iteration-count: infinite; }
      #projects section .hidden:nth-child(1) > p {
        font-size: 2vw;
        transition: font-size 350ms linear 0ms; }
      #projects section .hidden:nth-child(1) > div {
        opacity: 0;
        transition: opacity 350ms linear 0ms; }
    #projects section .hidden:nth-child(2) {
      margin-top: 26vh;
      height: 10vh;
      left: 77.5%;
      width: 15%;
      overflow: hidden;
      transition: height 350ms linear 350ms, width 350ms linear 700ms, margin-top .5s linear 1050ms, left .5s linear 1550ms; }
      #projects section .hidden:nth-child(2) > :hover {
        animation-name: divpulse;
        animation-duration: 1s;
        animation-iteration-count: infinite; }
      #projects section .hidden:nth-child(2) > p {
        font-size: 2vw;
        transition: font-size 350ms linear 0ms; }
      #projects section .hidden:nth-child(2) > div {
        opacity: 0;
        transition: opacity 350ms linear 0ms; }
    #projects section .hidden:nth-child(3) {
      margin-top: 39vh;
      height: 10vh;
      left: 77.5%;
      width: 15%;
      overflow: hidden;
      transition: height 350ms linear 350ms, width 350ms linear 700ms, margin-top .5s linear 1050ms, left .5s linear 1550ms; }
      #projects section .hidden:nth-child(3) > :hover {
        animation-name: divpulse;
        animation-duration: 1s;
        animation-iteration-count: infinite; }
      #projects section .hidden:nth-child(3) > p {
        font-size: 2vw;
        transition: font-size 350ms linear 0ms; }
      #projects section .hidden:nth-child(3) > div {
        opacity: 0;
        transition: opacity 350ms linear 0ms; }
    #projects section .hidden:nth-child(4) {
      margin-top: 52vh;
      height: 10vh;
      left: 77.5%;
      width: 15%;
      overflow: hidden;
      transition: height 350ms linear 350ms, width 350ms linear 700ms, margin-top .5s linear 1050ms, left .5s linear 1550ms; }
      #projects section .hidden:nth-child(4) > :hover {
        animation-name: divpulse;
        animation-duration: 1s;
        animation-iteration-count: infinite; }
      #projects section .hidden:nth-child(4) > p {
        font-size: 2vw;
        transition: font-size 350ms linear 0ms; }
      #projects section .hidden:nth-child(4) > div {
        opacity: 0;
        transition: opacity 350ms linear 0ms; }

@media (max-width: 560px) {
  #projects > h5 {
    font-size: 5vw; }
  #projects > section > .hidden:nth-child(1) {
    height: 7vh !important;
    margin-top: 10vh; }
    #projects > section > .hidden:nth-child(1) > p {
      font-size: 2.5vw !important;
      height: 2.5vh;
      margin-top: 2.5vh; }
  #projects > section > .hidden:nth-child(2) {
    height: 7vh !important;
    margin-top: 18vh; }
    #projects > section > .hidden:nth-child(2) > p {
      font-size: 2.5vw !important;
      height: 2.5vh;
      margin-top: 2.5vh; }
  #projects > section > .hidden:nth-child(3) {
    height: 7vh !important;
    margin-top: 26vh; }
    #projects > section > .hidden:nth-child(3) > p {
      font-size: 2.5vw !important;
      height: 2.5vh;
      margin-top: 2.5vh; }
  #projects > section > .hidden:nth-child(4) {
    height: 7vh !important;
    margin-top: 34vh; }
    #projects > section > .hidden:nth-child(4) > p {
      font-size: 2.5vw !important;
      height: 2.5vh;
      margin-top: 2.5vh; }
  #projects > section > div > p {
    font-size: 5vw; }
  #projects > section > div > div > p {
    width: 100%;
    margin-left: 0;
    font-size: 3vw;
    line-height: 2vh; }
  #projects > section > div > div {
    overflow: hidden; }
    #projects > section > div > div pre {
      overflow-y: scroll;
      height: 45vh; }
    #projects > section > div > div pre * {
      font-size: 2.5vw;
      line-height: 2vh; } }

@keyframes divpulse {
  0% {
    color: #EBB956; }
  50% {
    color: #f4e6e3; }
  100% {
    color: #EBB956; } }
#skills2 {
  padding-top: 7vh;
  width: 100%;
  height: 100vh;
  float: left;
  background: #303b42; }
  #skills2 .hidden {
    opacity: 0;
    transition: 350ms all; }
    #skills2 .hidden div {
      float: left;
      width: 2%;
      opacity: 0;
      margin-left: 48%;
      height: 0.5vh; }
  #skills2 .hidden-div {
    width: 2%;
    opacity: 0;
    margin-left: 48%; }
  #skills2 h5 {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 3vw;
    font-family: "Roboto", sans-serif;
    color: #EBB956;
    margin-top: 4vh;
    font-weight: bold; }
  #skills2 > div {
    float: left;
    width: 50%;
    height: 1vh;
    background: #AB873F;
    border-radius: 20px;
    margin: 1vh 25%;
    transition: 1000ms all; }
  #skills2 > ul {
    width: 100%;
    height: 90vh; }
  #skills2 > ul > li {
    float: left;
    display: inline-block;
    width: 35%;
    margin-top: 5vh;
    margin-left: 10%;
    height: 30vh;
    opacity: 1;
    transition: 350ms all; }
    #skills2 > ul > li > p {
      float: left;
      width: 100%;
      text-align: center;
      font-size: 2vw;
      font-weight: bold;
      font-family: "Roboto", sans-serif;
      color: #EBB956; }
    #skills2 > ul > li > div {
      float: left;
      width: 50%;
      height: 0.5vh;
      background: #AB873F;
      border-radius: 20px;
      margin: 1vh 25%;
      opacity: 1;
      transition: 1000ms all;
      transition-delay: 1000ms; }
    #skills2 > ul > li ul {
      width: 100%; }
      #skills2 > ul > li ul li {
        width: 100%;
        float: left;
        text-align: center;
        font-size: 1.5vw;
        font-family: "Roboto", sans-serif;
        color: #EBB956;
        margin-top: 1vh; }

@media (max-width: 560px) {
  #skills2 {
    height: 150vh; }
    #skills2 h5 {
      font-size: 4vw; }
    #skills2 > div {
      height: 0.5vh; }
    #skills2 > ul {
      height: 130vh; }
    #skills2 > ul > li {
      display: inline;
      width: 60%;
      margin-left: 20%;
      height: 25vh; }
      #skills2 > ul > li p {
        font-size: 3.5vw; }
      #skills2 > ul > li ul > li {
        font-size: 3vw; } }
#landing {
  width: 100%;
  height: 100vh;
  float: left;
  position: relative;
  background: url(image/thailand.jpg);
  background-size: cover;
  z-index: 99999; }
  #landing div {
    position: absolute;
    float: left;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0; }
  #landing section {
    position: absolute;
    width: 40%;
    height: 50vh;
    float: left;
    margin-left: 30%;
    margin-top: 30vh;
    z-index: 99999; }
    #landing section h1 {
      width: 100%;
      font-size: 10vh;
      text-align: center;
      font-family: "Roboto", sans-serif;
      color: #eae9e8;
      font-weight: lighter; }
    #landing section h2 {
      width: 90%;
      font-size: 6vh;
      margin: 2vh 5%;
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      color: #eae9e8; }
    #landing section div {
      float: left;
      width: 50%;
      height: 0.5vh;
      background: #eae9e8;
      border-radius: 10px;
      margin: 1vh 0;
      margin-left: 25%; }
    #landing section a {
      float: left;
      width: 100%;
      text-align: center;
      color: #eae9e8;
      font-size: 8vh;
      margin-top: 3vh;
      cursor: pointer;
      text-decoration: none; }
  #landing svg {
    position: absolute;
    width: 5vw;
    height: 5vh;
    right: 0;
    top: 0;
    margin: 2vh 2.5%;
    transition: 350ms all;
    cursor: pointer; }
    #landing svg:hover {
      animation-name: wiggle;
      animation-duration: 1.5s; }
    #landing svg g {
      fill: #eae9e8; }

@media (max-width: 1050px) and (min-width: 431px) {
  #landing section > h1 {
    font-size: 4.5vh; }
  #landing section > h2 {
    font-size: 3vh;
    width: 100%;
    margin-left: 0;
    margin-right: 0; } }

@media (max-width: 430px) {
  #landing section > h1 {
    font-size: 3.5vh;
    width: 100%; }
  #landing section > h2 {
    font-size: 2vh;
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  #landing svg {
    width: 10vw;
    height: 6vh;
    font-size: 15vw;
    margin: 1vh 5%; } }
#contact {
  height: 100vh;
  width: 30vw;
  background: #303b42;
  border-left: 1vw solid #AB873F;
  z-index: 9999999;
  position: fixed;
  right: 0;
  transition: 350ms ease-out; }
  #contact > button {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    color: #AB873F;
    font-size: 2.5vw;
    font-weight: bold;
    font-family: sans-serif;
    margin: 0 5%;
    margin-top: 2vh;
    transition: 350ms all;
    cursor: pointer; }
    #contact > button:hover {
      animation-name: wiggle;
      animation-duration: 1.5s;
      animation-iteration-count: 1; }
  #contact form {
    width: 90%;
    height: 70vh;
    float: left;
    margin-top: 10vh; }
    #contact form input, #contact form textarea {
      width: 80%;
      height: 3vh;
      background: none;
      border: 0.25vh solid #303b42;
      border-bottom: 0.25vh solid #f4e6e3;
      border-radius: 2px;
      padding: 1vh 2.5%;
      margin: 2vh 5%;
      font-size: 1vw;
      color: #EBB956;
      transition: 350ms all; }
      #contact form input:focus, #contact form textarea:focus {
        background: #f4e6e3;
        color: #303b42;
        border: 0.25vh solid #f4e6e3; }
    #contact form textarea {
      height: 30vh; }
    #contact form button {
      width: 35%;
      font-size: 1vw;
      font-family: "Roboto", sans-serif;
      height: 5vh;
      border: none;
      border-radius: 3px;
      float: right;
      margin: 1vh 10%;
      background: #AB873F;
      cursor: pointer;
      transition: 350ms all; }
      #contact form button:hover {
        background: #EBB956; }

.message-hidden {
  transition: 500ms ease-out;
  right: -31% !important; }

@media (max-width: 560px) {
  #contact {
    width: 80%; }
    #contact * {
      font-size: 3vw !important; }
  .message-hidden {
    transition: 500ms ease-out;
    right: -91% !important; } }
#footer {
  float: left; }

#foot {
  width: 100%;
  height: 40vh;
  background: #303b42;
  border-top: 0.5vh solid #AB873F;
  float: left; }
  #foot h5 {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 3vw;
    color: #EBB956;
    margin-top: 2vh;
    font-family: "Roboto", sans-serif; }
  #foot > div {
    width: 50%;
    height: 0.25vh;
    background: #EBB956;
    float: left;
    margin: 2vh 25%; }
  #foot ul {
    width: 50vw;
    height: 7vw;
    float: left;
    margin-left: 25%;
    margin-top: 7vh; }
    #foot ul li {
      display: inline-block;
      width: 5vw;
      height: 5vw;
      margin-left: 5.5vw;
      border-radius: 80px;
      border: 0.5vw solid #EBB956;
      overflow: hidden;
      cursor: pointer; }
      #foot ul li:hover {
        animation-name: borderpulse;
        animation-duration: 1s;
        animation-iteration-count: infinite; }
        #foot ul li:hover * {
          animation: fillpulse;
          animation-duration: 1s;
          animation-iteration-count: infinite; }
      #foot ul li a {
        float: left;
        width: 5vw;
        height: 5vh; }
      #foot ul li svg {
        height: 4vw;
        width: 5vw;
        float: left;
        margin-top: 1vw; }
        #foot ul li svg * {
          fill: #EBB956;
          float: left; }
    #foot ul > :nth-child(2) svg {
      margin-left: 1vw;
      margin-top: 1vw;
      height: 3vw;
      width: 3vw; }
      #foot ul > :nth-child(2) svg * {
        height: 3vw;
        width: 3vw; }
    #foot ul > :nth-child(4) svg {
      margin-left: 1vw;
      margin-top: 1vw;
      height: 3vw;
      width: 3vw; }
      #foot ul > :nth-child(4) svg * {
        height: 3vw;
        width: 3vw; }

@media (max-width: 568px) and (min-width: 541px) {
  #foot {
    height: 40vh; }
    #foot ul {
      margin-top: 3vh; } }

@media (max-width: 540px) {
  #foot {
    height: 20vh; }
    #foot ul {
      margin-top: 3vh; } }

@keyframes borderpulse {
  0% {
    border: 0.5vw solid #EBB956; }
  50% {
    border: 0.5vw solid #AB873F; }
  100% {
    border: 0.5vw solid #EBB956; } }

@keyframes fillpulse {
  %0 {
    fill: #EBB956; }
  50% {
    fill: #AB873F; }
  100% {
    fill: #EBB956; } }
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

* {
  outline: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
==============================================
CSS3 ANIMATION CHEAT SHEET
==============================================

Made by Justin Aguilar

www.justinaguilar.com/animations/

Questions, comments, concerns, love letters:
justin@justinaguilar.com
==============================================
*/
/*
==============================================
slideDown
==============================================
*/
.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

@keyframes slideDown {
  0% {
    transform: translateY(-100%); }
  50% {
    transform: translateY(8%); }
  65% {
    transform: translateY(-4%); }
  80% {
    transform: translateY(4%); }
  95% {
    transform: translateY(-2%); }
  100% {
    transform: translateY(0%); } }

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%); }
  50% {
    -webkit-transform: translateY(8%); }
  65% {
    -webkit-transform: translateY(-4%); }
  80% {
    -webkit-transform: translateY(4%); }
  95% {
    -webkit-transform: translateY(-2%); }
  100% {
    -webkit-transform: translateY(0%); } }

/*
==============================================
slideUp
==============================================
*/
.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

@keyframes slideUp {
  0% {
    transform: translateY(100%); }
  50% {
    transform: translateY(-8%); }
  65% {
    transform: translateY(4%); }
  80% {
    transform: translateY(-4%); }
  95% {
    transform: translateY(2%); }
  100% {
    transform: translateY(0%); } }

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%); }
  50% {
    -webkit-transform: translateY(-8%); }
  65% {
    -webkit-transform: translateY(4%); }
  80% {
    -webkit-transform: translateY(-4%); }
  95% {
    -webkit-transform: translateY(2%); }
  100% {
    -webkit-transform: translateY(0%); } }

/*
==============================================
slideLeft
==============================================
*/
.slideLeft {
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important; }

@keyframes slideLeft {
  0% {
    transform: translateX(150%); }
  50% {
    transform: translateX(-8%); }
  65% {
    transform: translateX(4%); }
  80% {
    transform: translateX(-4%); }
  95% {
    transform: translateX(2%); }
  100% {
    transform: translateX(0%); } }

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%); }
  50% {
    -webkit-transform: translateX(-8%); }
  65% {
    -webkit-transform: translateX(4%); }
  80% {
    -webkit-transform: translateX(-4%); }
  95% {
    -webkit-transform: translateX(2%); }
  100% {
    -webkit-transform: translateX(0%); } }

/*
==============================================
slideRight
==============================================
*/
.slideRight {
  animation-name: slideRight;
  -webkit-animation-name: slideRight;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important; }

@keyframes slideRight {
  0% {
    transform: translateX(-150%); }
  50% {
    transform: translateX(8%); }
  65% {
    transform: translateX(-4%); }
  80% {
    transform: translateX(4%); }
  95% {
    transform: translateX(-2%); }
  100% {
    transform: translateX(0%); } }

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150%); }
  50% {
    -webkit-transform: translateX(8%); }
  65% {
    -webkit-transform: translateX(-4%); }
  80% {
    -webkit-transform: translateX(4%); }
  95% {
    -webkit-transform: translateX(-2%); }
  100% {
    -webkit-transform: translateX(0%); } }

/*
==============================================
slideExpandUp
==============================================
*/
.slideExpandUp {
  animation-name: slideExpandUp;
  -webkit-animation-name: slideExpandUp;
  animation-duration: 1.6s;
  -webkit-animation-duration: 1.6s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease -out;
  visibility: visible !important; }

@keyframes slideExpandUp {
  0% {
    transform: translateY(100%) scaleX(0.5); }
  30% {
    transform: translateY(-8%) scaleX(0.5); }
  40% {
    transform: translateY(2%) scaleX(0.5); }
  50% {
    transform: translateY(0%) scaleX(1.1); }
  60% {
    transform: translateY(0%) scaleX(0.9); }
  70% {
    transform: translateY(0%) scaleX(1.05); }
  80% {
    transform: translateY(0%) scaleX(0.95); }
  90% {
    transform: translateY(0%) scaleX(1.02); }
  100% {
    transform: translateY(0%) scaleX(1); } }

@-webkit-keyframes slideExpandUp {
  0% {
    -webkit-transform: translateY(100%) scaleX(0.5); }
  30% {
    -webkit-transform: translateY(-8%) scaleX(0.5); }
  40% {
    -webkit-transform: translateY(2%) scaleX(0.5); }
  50% {
    -webkit-transform: translateY(0%) scaleX(1.1); }
  60% {
    -webkit-transform: translateY(0%) scaleX(0.9); }
  70% {
    -webkit-transform: translateY(0%) scaleX(1.05); }
  80% {
    -webkit-transform: translateY(0%) scaleX(0.95); }
  90% {
    -webkit-transform: translateY(0%) scaleX(1.02); }
  100% {
    -webkit-transform: translateY(0%) scaleX(1); } }

/*
==============================================
expandUp
==============================================
*/
.expandUp {
  animation-name: expandUp;
  -webkit-animation-name: expandUp;
  animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

@keyframes expandUp {
  0% {
    transform: translateY(100%) scale(0.6) scaleY(0.5); }
  60% {
    transform: translateY(-7%) scaleY(1.12); }
  75% {
    transform: translateY(3%); }
  100% {
    transform: translateY(0%) scale(1) scaleY(1); } }

@-webkit-keyframes expandUp {
  0% {
    -webkit-transform: translateY(100%) scale(0.6) scaleY(0.5); }
  60% {
    -webkit-transform: translateY(-7%) scaleY(1.12); }
  75% {
    -webkit-transform: translateY(3%); }
  100% {
    -webkit-transform: translateY(0%) scale(1) scaleY(1); } }

/*
==============================================
fadeIn
==============================================
*/
.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important; }

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0.0; }
  60% {
    transform: scale(1.1); }
  80% {
    transform: scale(0.9);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0; }
  60% {
    -webkit-transform: scale(1.1); }
  80% {
    -webkit-transform: scale(0.9);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    opacity: 1; } }

/*
==============================================
expandOpen
==============================================
*/
.expandOpen {
  animation-name: expandOpen;
  -webkit-animation-name: expandOpen;
  animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  visibility: visible !important; }

@keyframes expandOpen {
  0% {
    transform: scale(1.8); }
  50% {
    transform: scale(0.95); }
  80% {
    transform: scale(1.05); }
  90% {
    transform: scale(0.98); }
  100% {
    transform: scale(1); } }

@-webkit-keyframes expandOpen {
  0% {
    -webkit-transform: scale(1.8); }
  50% {
    -webkit-transform: scale(0.95); }
  80% {
    -webkit-transform: scale(1.05); }
  90% {
    -webkit-transform: scale(0.98); }
  100% {
    -webkit-transform: scale(1); } }

/*
==============================================
bigEntrance
==============================================
*/
.bigEntrance {
  animation-name: bigEntrance;
  -webkit-animation-name: bigEntrance;
  animation-duration: 1.6s;
  -webkit-animation-duration: 1.6s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  visibility: visible !important; }

@keyframes bigEntrance {
  0% {
    transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
    opacity: 0.2; }
  30% {
    transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
    opacity: 1; }
  45% {
    transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1; }
  60% {
    transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
    opacity: 1; }
  75% {
    transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1; }
  90% {
    transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1; }
  100% {
    transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1; } }

@-webkit-keyframes bigEntrance {
  0% {
    -webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
    opacity: 0.2; }
  30% {
    -webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
    opacity: 1; }
  45% {
    -webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1; }
  60% {
    -webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
    opacity: 1; }
  75% {
    -webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1; }
  90% {
    -webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1; } }

/*
==============================================
hatch
==============================================
*/
.hatch {
  animation-name: hatch;
  -webkit-animation-name: hatch;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  visibility: visible !important; }

@keyframes hatch {
  0% {
    transform: rotate(0deg) scaleY(0.6); }
  20% {
    transform: rotate(-2deg) scaleY(1.05); }
  35% {
    transform: rotate(2deg) scaleY(1); }
  50% {
    transform: rotate(-2deg); }
  65% {
    transform: rotate(1deg); }
  80% {
    transform: rotate(-1deg); }
  100% {
    transform: rotate(0deg); } }

@-webkit-keyframes hatch {
  0% {
    -webkit-transform: rotate(0deg) scaleY(0.6); }
  20% {
    -webkit-transform: rotate(-2deg) scaleY(1.05); }
  35% {
    -webkit-transform: rotate(2deg) scaleY(1); }
  50% {
    -webkit-transform: rotate(-2deg); }
  65% {
    -webkit-transform: rotate(1deg); }
  80% {
    -webkit-transform: rotate(-1deg); }
  100% {
    -webkit-transform: rotate(0deg); } }

/*
==============================================
bounce
==============================================
*/
.bounce {
  animation-name: bounce;
  -webkit-animation-name: bounce;
  animation-duration: 1.6s;
  -webkit-animation-duration: 1.6s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%; }

@keyframes bounce {
  0% {
    transform: translateY(0%) scaleY(0.6); }
  60% {
    transform: translateY(-100%) scaleY(1.1); }
  70% {
    transform: translateY(0%) scaleY(0.95) scaleX(1.05); }
  80% {
    transform: translateY(0%) scaleY(1.05) scaleX(1); }
  90% {
    transform: translateY(0%) scaleY(0.95) scaleX(1); }
  100% {
    transform: translateY(0%) scaleY(1) scaleX(1); } }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0%) scaleY(0.6); }
  60% {
    -webkit-transform: translateY(-100%) scaleY(1.1); }
  70% {
    -webkit-transform: translateY(0%) scaleY(0.95) scaleX(1.05); }
  80% {
    -webkit-transform: translateY(0%) scaleY(1.05) scaleX(1); }
  90% {
    -webkit-transform: translateY(0%) scaleY(0.95) scaleX(1); }
  100% {
    -webkit-transform: translateY(0%) scaleY(1) scaleX(1); } }

/*
==============================================
pulse
==============================================
*/
.pulse {
  animation-name: pulse;
  -webkit-animation-name: pulse;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.7; }
  50% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0.9);
    opacity: 0.7; } }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    opacity: 0.7; }
  50% {
    -webkit-transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.95);
    opacity: 0.7; } }

/*
==============================================
floating
==============================================
*/
.floating {
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

@keyframes floating {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(8%); }
  100% {
    transform: translateY(0%); } }

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(8%); }
  100% {
    -webkit-transform: translateY(0%); } }

/*
==============================================
tossing
==============================================
*/
.tossing {
  animation-name: tossing;
  -webkit-animation-name: tossing;
  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

@keyframes tossing {
  0% {
    transform: rotate(-4deg); }
  50% {
    transform: rotate(4deg); }
  100% {
    transform: rotate(-4deg); } }

@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(-4deg); }
  50% {
    -webkit-transform: rotate(4deg); }
  100% {
    -webkit-transform: rotate(-4deg); } }

/*
==============================================
pullUp
==============================================
*/
.pullUp {
  animation-name: pullUp;
  -webkit-animation-name: pullUp;
  animation-duration: 1.1s;
  -webkit-animation-duration: 1.1s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%; }

@keyframes pullUp {
  0% {
    transform: scaleY(0.1); }
  40% {
    transform: scaleY(1.02); }
  60% {
    transform: scaleY(0.98); }
  80% {
    transform: scaleY(1.01); }
  100% {
    transform: scaleY(0.98); }
  80% {
    transform: scaleY(1.01); }
  100% {
    transform: scaleY(1); } }

@-webkit-keyframes pullUp {
  0% {
    -webkit-transform: scaleY(0.1); }
  40% {
    -webkit-transform: scaleY(1.02); }
  60% {
    -webkit-transform: scaleY(0.98); }
  80% {
    -webkit-transform: scaleY(1.01); }
  100% {
    -webkit-transform: scaleY(0.98); }
  80% {
    -webkit-transform: scaleY(1.01); }
  100% {
    -webkit-transform: scaleY(1); } }

/*
==============================================
pullDown
==============================================
*/
.pullDown {
  animation-name: pullDown;
  -webkit-animation-name: pullDown;
  animation-duration: 1.1s;
  -webkit-animation-duration: 1.1s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%; }

@keyframes pullDown {
  0% {
    transform: scaleY(0.1); }
  40% {
    transform: scaleY(1.02); }
  60% {
    transform: scaleY(0.98); }
  80% {
    transform: scaleY(1.01); }
  100% {
    transform: scaleY(0.98); }
  80% {
    transform: scaleY(1.01); }
  100% {
    transform: scaleY(1); } }

@-webkit-keyframes pullDown {
  0% {
    -webkit-transform: scaleY(0.1); }
  40% {
    -webkit-transform: scaleY(1.02); }
  60% {
    -webkit-transform: scaleY(0.98); }
  80% {
    -webkit-transform: scaleY(1.01); }
  100% {
    -webkit-transform: scaleY(0.98); }
  80% {
    -webkit-transform: scaleY(1.01); }
  100% {
    -webkit-transform: scaleY(1); } }

/*
==============================================
stretchLeft
==============================================
*/
.stretchLeft {
  animation-name: stretchLeft;
  -webkit-animation-name: stretchLeft;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  -webkit-transform-origin: 100% 0%; }

@keyframes stretchLeft {
  0% {
    transform: scaleX(0.3); }
  40% {
    transform: scaleX(1.02); }
  60% {
    transform: scaleX(0.98); }
  80% {
    transform: scaleX(1.01); }
  100% {
    transform: scaleX(0.98); }
  80% {
    transform: scaleX(1.01); }
  100% {
    transform: scaleX(1); } }

@-webkit-keyframes stretchLeft {
  0% {
    -webkit-transform: scaleX(0.3); }
  40% {
    -webkit-transform: scaleX(1.02); }
  60% {
    -webkit-transform: scaleX(0.98); }
  80% {
    -webkit-transform: scaleX(1.01); }
  100% {
    -webkit-transform: scaleX(0.98); }
  80% {
    -webkit-transform: scaleX(1.01); }
  100% {
    -webkit-transform: scaleX(1); } }

/*
==============================================
stretchRight
==============================================
*/
.stretchRight {
  animation-name: stretchRight;
  -webkit-animation-name: stretchRight;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%; }

@keyframes stretchRight {
  0% {
    transform: scaleX(0.3); }
  40% {
    transform: scaleX(1.02); }
  60% {
    transform: scaleX(0.98); }
  80% {
    transform: scaleX(1.01); }
  100% {
    transform: scaleX(0.98); }
  80% {
    transform: scaleX(1.01); }
  100% {
    transform: scaleX(1); } }

@-webkit-keyframes stretchRight {
  0% {
    -webkit-transform: scaleX(0.3); }
  40% {
    -webkit-transform: scaleX(1.02); }
  60% {
    -webkit-transform: scaleX(0.98); }
  80% {
    -webkit-transform: scaleX(1.01); }
  100% {
    -webkit-transform: scaleX(0.98); }
  80% {
    -webkit-transform: scaleX(1.01); }
  100% {
    -webkit-transform: scaleX(1); } }

@keyframes wiggle {
  0% {
    transform: rotate(15deg); }
  20% {
    transform: rotate(-30deg); }
  40% {
    transform: rotate(30deg); }
  60% {
    transform: rotate(-30deg); }
  80% {
    transform: rotate(15deg); }
  100% {
    transform: rotate(0deg); } }

/**
 * Darcula theme
 *
 * Adapted from a theme based on:
 * IntelliJ Darcula Theme (https://github.com/bulenkov/Darcula)
 *
 * @author Alexandre Paradis <service.paradis@gmail.com>
 * @version 1.0
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #a9b7c6;
  text-shadow: none;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  color: inherit;
  background: rgba(33, 66, 131, 0.85); }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  color: inherit;
  background: rgba(33, 66, 131, 0.85); }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #2b2b2b; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em; }

.token.comment,
.token.prolog,
.token.cdata {
  color: #808080; }

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
  color: #cc7832; }

.token.operator,
.token.punctuation,
.token.attr-name {
  color: #a9b7c6; }

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
  color: #e8bf6a; }

.token.entity,
.token.number,
.token.symbol {
  color: #6897bb; }

.token.property,
.token.constant,
.token.variable {
  color: #9876aa; }

.token.string,
.token.char {
  color: #6a8759; }

.token.attr-value,
.token.attr-value .punctuation {
  color: #a5c261; }

.token.attr-value .punctuation:first-child {
  color: #a9b7c6; }

.token.url {
  color: #287bde;
  text-decoration: underline; }

.token.function {
  color: #ffc66d; }

.token.regex {
  background: #364135; }

.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.inserted {
  background: #294436; }

.token.deleted {
  background: #484a4a; }

/*code.language-css .token.punctuation {
	color: #cc7832;
}*/
code.language-css .token.property,
code.language-css .token.property + .token.punctuation {
  color: #a9b7c6; }

code.language-css .token.id {
  color: #ffc66d; }

code.language-css .token.selector > .token.class,
code.language-css .token.selector > .token.attribute,
code.language-css .token.selector > .token.pseudo-class,
code.language-css .token.selector > .token.pseudo-element {
  color: #ffc66d; }

.token.operator {
  background: none; }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJidW5kbGUtM2I0ZDBkMzUzZGFkMmQzZTY1NDcuY3NzIiwic291cmNlUm9vdCI6IiJ9*/